<div class="flex m-auto h-screen justigy-center">
    <form (ngSubmit)="submit()" #myForm="ngForm" class="p-4 rounded-lg border m-auto width-25%">
        <h1 class="text-center text-xl">REGISTER</h1>
        <div class="m-5 w-full" >
            <label for="email">Email</label><br>
            <input type="email" id="email" class="p-1 rounded border" placeholder="Email Address"[(ngModel)]="register.email" name="email" #email="ngModel" required>
        </div>
        <span *ngIf="email.valid && (email.dirty || email.touched)" class=" m-5 bg-red-300 rounded text-white"> &nbsp; Email field must be valid &nbsp;</span>

        <div class="m-5 w-full">
            <label for="password">Password &nbsp;</label><br>
            <input type="password" id="password" class="p-1 rounded border"  placeholder="Password"[(ngModel)]="register.password" name="password" #password="ngModel" required>
        </div>
        <span *ngIf="password.valid && (password.dirty || password.touched)" class=" m-5 bg-red-300 rounded text-white"> &nbsp; Password field must be valid &nbsp;</span>

        <div class="m-5 w-full">
            <label for="confirm password">Confirm Password &nbsp;</label><br>
            <input type=" confirm password" id="confirm password " class="p-1 rounded border"  placeholder="confirm Password" [(ngModel)]="register.confirmpassword" name="confirmpassword" #confirmpassword="ngModel" required>
        </div>
        <span *ngIf="confirmpassword.valid && (confirmpassword.dirty || confirmpassword.touched)" class=" m-5 bg-red-300 rounded text-white"> &nbsp; Confirm Password field must be valid &nbsp;</span>

        <div><br>
            <input type="submit" [disabled]="myForm.form.invalid" class=" p-2 w-full bg-purple-700 text-white hover:bg-purple-900">
        </div>
    </form>
</div>
