<!-- <app-books></app-books>
<app-cart></app-cart> -->
<nav class="flex justify-between p-4 bg-purple-800 text-white">
    <div>
        <a routerLink="/books"><strong class="m-4">BOOK SHOP</strong></a>
    </div>
    <div>
        <a class="mx-4" routerLink="/login"><strong>LOGIN</strong></a>
        <a class="mx-4" routerLink="/register"><strong>REGISTER</strong></a>
        <a class="mx-4" routerLink="/cart"><strong>MY CART</strong></a>
    </div>

</nav>
<div class="container">

</div>
<router-outlet></router-outlet>